<!DOCTYPE html>
<html>
<head>
    <title>게시판</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/crud/layout/header.css"/>
</head>
<body>
<script src="/common/js/jquery.min.js"></script>
<script src="/common/js/bootstrap.min.js"></script>
<script src="/common/js/global/global.js"></script>

<section id="CrudHeader">
    <div class="css-notice-wrapper">
        <div class="css-notice">
            <div class="css-notice-title"><a class="css-info-icon"></a>간단히 구현된 게시판입니다.</div>
            <div class="css-notice-content">욕설 및 남을 비방하는 행위는 자제해주세요.
                사이트 이용에 불이익이 있을 수 있습니다.
            </div>
        </div>
    </div>
</section>
