{{>slack/layout/header}}
<section id="SlackTargetList">
    <select class="js-target-name">
    {{#slackTargetList}}
        <option>{{name}}</option>
    {{/slackTargetList}}
    </select>
</section>

<section id="SlackSend">
    <input type="text" class="js-slack-msg"/>
    <button class="js-msg-send">Send</button>
</section>

<script src="/slack/slack.js"></script>
{{>slack/layout/footer}}