// color를 정의하는 곳

$color-blue1: #4285f4;
$color-blue2: #5e97f6;
$color-blue3: #66b1ff;
$color-blue4: #ebf3fe;
$color-blue5: #9FC1F9;
$color-black1: #444444;
$color-black2: #737373;
$color-black3: #dbdbdb;
$color-black4: #f4f4f4;
$color-black5: #f5f7fa;
$color-black6: #c1c1c1;
$color-black7: #707070;
$color-black8: #d8d8d8;
$color-black9: #ccc;
$color-white: #fff;
$color-error-red1: #ff0000;
$color-error-red2: #F56C6C;
$color-warn1: #e6a23c;
$color-warn2: #fdf6ec;
$color-purple: #5867dd;
