<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>인덱스 </title>
</head>
<body>
<section>
    <div id="siteMapList">
        <div class="css-site-map-title">사이트맵 리스트</div>
        <ul class="css-site-map-list js-site-map-list">
            <li><a href="/crud">게시판 바로가기</a></li>
            <li><a href="/slack">슬랙 API 바로가기</a></li>
        </ul>
    </div>
</section>
</body>
</html>