<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<section>
    <input type="text"/>
    <button class="send">Send</button>
</section>

<section>

</section>

</body>
</html>